.is-style-tag {
	font-size: var(--wp--preset--font-size--small);
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
}

.has-small-font-size {
	line-height: 1.57;
}

.has-medium-font-size {
	line-height: 1.65;
}
