.height-full {
	height: 100% !important;
}

.height-inherit {
	height: inherit !important;
}

.static {
	position: static !important;
}

.sticky {
	position: sticky !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.mix-blend-multiply {
	mix-blend-mode: multiply;
}

.hidden {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
}

.clip-path {
	position: absolute;
	width: 0;
	height: 0;
}
