@import "bourbon";

.editor-styles-wrapper {

	@import "settings/_index";
	@import "utilities/_index";
	@import "components/_index";
	@import "elements/forms";
	@import "elements/lists";
	@import "elements/typography";
	@import "plugins/_index";
	@import "objects/_index";

	.is-style-brand-red {
		background-image: url("../img/jfp-brand-bg.jpg") !important;
	}

	.wp-block-card__content .block-list-appender {
		width: 100%;
	}

	.wp-block-jf-team__media .block-editor-media-placeholder {
		height: 100%;
		border-radius: 8px;
	}
}
