.form {

	&-newsletter {
		display: flex;
		gap: var(--wp--style--block-gap, 20px);
		flex-direction: column;
		align-items: flex-start;

		&.horizontal {
			gap: 1rem;

			@media (max-width: 781px) {
				flex-direction: row;
				gap: var(--wp--style--block-gap, 20px);
				justify-content: flex-end;
			}
		}

		.form-group {
			width: 100%;
		}
	}
}

.campaign-form {

	+ small {
		display: block;
		font-family: var(--wp--preset--font-family--apercupro);
		font-size: var(--wp--preset--font-size--tiny);
		font-weight: 400;
		line-height: 1.33;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;

		label {
			padding-top: var(--wp--preset--spacing--4);
			padding-left: var(--wp--preset--spacing--20);
			font-size: var(--wp--preset--font-size--tiny);
			order: 1;
		}
	}
}
