blockquote {
	margin: 0;

	p {
		margin-top: 0;
		margin-bottom: 0.5em;
		line-height: inherit;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	cite {
		font-size: var(--wp--preset--font-size--regular);
	}
}

sup {
	font-size: 75%;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {

	a {
		text-decoration: none !important;
	}

	sup {
		line-height: 1;
	}
}
